body {
    background-color: rgba(0, 0, 0, 0.856);
    margin: 0;
    display: grid;
    place-items: center;
}
#square {
    background-color: rgba(128, 128, 128, 0.596);
    height: 350px;
    width: 400px;
    border-radius: 40px;
    display: grid;
    place-items: center;
    position: relative;
    top: 200px;
    border: 1px solid white;
}
h1 {
    position: relative;
    bottom: 50px;
    font-size: 50px;
}
h1::before {
    content: "Black";
    color: white;
}
h1::after {
    content: 'Market';
    color: red;
}
input {
    border-radius: 20px;
    width: 350px;
    height: 30px;
    border: 2px solid black;
    font-size: 30px;
    text-align: center;
    color: black;
    position: absolute;
    top: 120px;
}
button {
    border-radius: 20px;
    border: 2px solid black;
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(4, 68, 23);
    color: white;
    position: relative;
    bottom: 40px;
    transition: all 0.5s ease;
    cursor: pointer;
}
button:hover {
    transform: scale(1.2);
    transition: all 0,5s ease;
}